---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';

const posts = await getCollection('posts', ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

posts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const formatDate = (date: Date) => {
  return new Intl.DateTimeFormat('en-US', {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
  }).format(date);
};
---

<BaseLayout title="plog" description="Because what the world needs is yet more clueless writing">
  <article>
    <h1>plog</h1>
    <p class="subtitle"><a href="https://j1ah0ng.xyz">j1ah0ng's</a> state dump</p>
    <section>
      {posts.length > 0 ? (
        posts.map((post) => (
          <p>
            <a href={`/plog/posts/${post.slug}/`}>
              <strong>{post.data.title}</strong>
            </a>
            <br />
            <span style="font-size: 1.1rem; color: #666;">
              {formatDate(post.data.date)} — {post.data.description}
            </span>
          </p>
        ))
      ) : (
        <p><em>No posts yet.</em></p>
      )}
    </section>
    <section>
      <p><a href="https://j1ah0ng.xyz">&larr; back home</a></p>
    </section>
  </article>
</BaseLayout>
