---
interface Props {
  id: string | number;
}

const { id } = Astro.props;
const inputId = `sn-${id}`;
---

<label for={inputId} class="margin-toggle sidenote-number"></label>
<input type="checkbox" id={inputId} class="margin-toggle" />
<span class="sidenote"><slot /></span>
